/* Sidebar item hover and active state styling */
.MuiListItem-button:hover {
    background-color: #444 !important;
}

.active-item {
    background-color: #1E90FF !important;
    border-left: 5px solid #1E90FF; /* Highlighted border for active item */
    height: 32px;
    width: 192px;
    border-radius: 9px !important;
}

/* Active text color change */
.active-item .MuiListItemText-root span {
    background-color: #1E90FF !important;
}


.sectionseperatione {
    height: 1px;
    width: 210px;
    margin-bottom: 18px;
    background-color: #c0d3e5;
    
}

.buttonelemente {
    margin-top: 6px !important;
    width: 165px;
    height: 35px;
    border-width: 0px;
    
    text-align: center;
    
    
    background-color: #1E90FF !important;
    border-left: 5px solid #1E90FF; /* Highlighted border for active item */
    height: 32px;
   
    color: white !important;

    border-radius: 4px !important;
}





.dispalyresponsive {
    display: block;
}

.iconsize {
    color: blue !important;
}
.alignitemvert{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seperationline {
    height: 1px;
    width: 100%;
    margin-top: -11px;
    margin-bottom: 18px;
    background-color: rgb(168, 166, 166);
 }

 .issuessection {
    width: 40vw !important;
    margin-right: 12px !important;
 }
 .heero {
   
    width: 78vw !important;
 }

.iconsize {
    height: 22px !important;
    margin-bottom: -7px !important;
}

@media (max-width: 767px) {
 .dispalyresponsive {
    display: none !important;
 }

 .seperationline {
    height: 2px;
    width: 100%;
    background-color: rgb(168, 166, 166);
 }
 .iconsizee {
    display: block !important;
 }

 .adjustingtexr{
    width: 22px;
    
 }
.dashboardesettingocn {
    display: flex !important;
    flex-direction: column !important;
}
 .totalissues{
    width: 95vw !important;
    margin-left: -27px !important;
 }

 .heero{
    width: 95vw !important;
 }

 .structeredicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  background-color: #2e2d2d;
  align-items: center;
  position: relative;
  height: 82px;
  position: fixed;  /* Fixes the menu to the bottom */
  bottom: 0;        /* Position at the bottom of the viewport */
  left: 0;          /* Make sure it stretches across the page */
  width: 100%;      /* Full width at the bottom */
  z-index: 1000;   
    
  }

  .homemenubb {
    font-size: 13px;
    font-weight: lighter;
    color: rgb(183, 182, 182);
    margin-left: -10px;
  }

  .structured-icons {
    display: flex;
    justify-content: space-around;
    background-color: #181818;  /* Dark background */
    padding: 20px;
    border-radius: 8px;
    
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #8c8c8c;  /* Default grey for inactive icons */
}

.menu-item.active {
    background-color: #2a2a2a; /* Slightly darker background for active state */
    border-radius: 10px;
    padding: 10px;
    color: #fff; /* Active color */
}

.icon {
    font-size: 40px;  /* Larger icon size */
    margin-bottom: 5px;
}

.menu-text {
    font-size: 14px;
    color: inherit; /* Inherit text color from parent */
}

/* Active state styling for the Home icon */
.menu-item.active .menu-text {
    color: #1976d2;  /* Blue color for active text */
}

.menu-item.active .icon {
    color: #1976d2;  /* Blue color for active icon */
}

/* Add hover effect */
.menu-item:hover {
    color: #ffffff;  /* White color on hover */
}


  .hometextcenter {
    align-items: center !important;
    text-align: center !important;
    
  }

  .textnskn {
    color: black !important;
  }

  .alignallmenuitems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .menubuttions {
    display: flex;
    flex-direction: column;
    
    
    align-items: center;
  }

  .homemeni {
    background-color: black !important;
  }

 .issuessection{
    width: 95vw !important;
    margin-left: -27px;
 }
 .dashboardesettingocn {
    display: flex;
flex-direction: column;
width:90vw;
}
  }
  