.imagedashboard {
    margin-left: 152px;
    margin-top: -522px;
}

.dividingline {
    height: 1px;
    width: 156px;
    background-color: rgb(142, 138, 138);
}

.yourworj {
    color: #6d6d6d;
    font-family: Dm sans;
}

.buttonelement{
    width: 175px;
height: 35px;
border-width: 0px;


border-radius:4px;

background-color: #1E90FF;
color: white

;
}
.coloursdk {
    color: red;
}

.normal {
   padding-bottom: 663px;
   
   margin-right: 830px;
font-family: roboto;
 margin-left: -40px;
font-size: 25px;
font-weight: 350 !important;
line-height: 45.57px;
text-align: left;

}

.flexingitems {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important
    ;
}

.underliner {
    height: 1px;
    width: 80vw;
    background-color: #cdcaca;
    margin-top: -649px;
}

.iconsize {
    height: 18px !important;
    margin-top: -5px;
}
.buttonelementee {
    width: 165px;
    height: 35px;
    border-width: 0px;
    
    text-align: center;
    
    
    background-color: #1E90FF !important;
    border-left: 5px solid #1E90FF; /* Highlighted border for active item */
    height: 32px;
   
    color: white !important;

    border-radius: 4px !important;
}

.addingsomestyles 
    {
    background-color: #1E90FF !important;
    border-left: 5px solid #1E90FF; /* Highlighted border for active item */
    height: 32px;
    width: 192px;
    color: white !important;
    border-radius: 4px !important;
}

.storagetracj {
    height: 4px;
    border-radius: 12px;
    width: 160px;
    background-color: #c0d3e5;
}
.marginbottom {
    margin-bottom: 12px !important;
}

.sectionseperation {
    height: 1px;
    width: 210px;
    margin-bottom: 18px;
    background-color: #c0d3e5;
}