.clikkleicons {
    height: 28px;
    width: 28px;
    margin-right: 9px;
    margin-top: 12px;
}

.iconAlignmrnt {
    display: flex;
    flex-direction: column;
    
}
.companyclikkle {
    height: 53px;
    width: 53px;
}
.clikklename {
    font-family: DM Sans;
font-size: 30px;
font-weight: 700;
line-height: 39.06px;
text-align: left;

color:#676767;
}
.projectsnam {
    font-weight: lighter;
}

.Clikkleiconselign {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
}