.clikkleicons {
    height: 28px;
    width: 28px;
    margin-right: 9px;
    margin-top: 12px;
}

.iconAlignmrnt {
    display: flex;
    flex-direction: column;
    
}

.clikkletechnologies {
  margin-bottom: -43px !important;
  margin-top: 23px !important;
  font-size: 15px !important;
  font-size: 25px !important;
  margin-left: -13px;
  color: #7a7a7a;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}


.bets{
  margin-top: -53px !important;
}
.clikkle {
  font-weight: bold;

}

.alighite {
  display: flex;
  flex-direction: row;
}

.cikklerepair{
  height: 80px;
}
.companyclikkle {
    height: 83px;
    width: 83px;
}
.clikklename {
    font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 39.06px;
text-align: left;
margin-left: -14px;
color:#848484;
}
.projectsnam {
    font-weight: lighter;
}

.Clikkleiconselign {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
}

.clikklebeta {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    color: #3b3b3b;
    margin-left: -14px;
    font-weight: 400;
}


  /* Styling for medium devices */
  @media (max-width: 1199px) and (min-width: 768px) {
    .dashboardarrange {
      flex-direction: row;
    }
  
    .cikklerepair {
      width: 80px;
    }
  
    .clikkletechnologies {
      font-size: 1.5rem;
    }
  
    .imagedashboard {
      width: 120px;
      height: 120px;
    }
  
    .normal {
      font-size: 1.5rem;
    }
  
    .projectpara {
      font-size: 0.9rem;
    }
  }
  
  /* Styling for small devices */
  @media (max-width: 767px) {
    .dashboardarrange {
      flex-direction: column;
    }
  
    .cikklerepair {
      width: 60px;
    }
  
    .clikkletechnologies {
      font-size: 1.2rem;
    }
  
    .imagedashboard {
      width: 100px;
      height: 100px;
    }
  
    .normal {
      font-size: 1.2rem;
    }
  
    .projectpara {
      font-size: 0.8rem;
    }

    .searchbasdj {
      margin-left: -5px !important;
      margin-right: 14px !important;
    }
  
    .sectionseperation {
      height: 1px;
      background-color: #ccc;
      margin-top: 10px;
    }
  
    .flexingitems {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  