.clikkleicons {
    height: 28px;
    width: 28px;
    margin-right: 9px;
    margin-top: 12px;
}

.iconAlignmrnt {
    display: flex;
    flex-direction: column;
    
}
.companyclikkle {
    height: 83px;
    width: 83px;
}
.clikklename {
    font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 39.06px;
text-align: left;
margin-left: -14px;
color:#848484;
}
.projectsnam {
    font-weight: lighter;
}

.Clikkleiconselign {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
}

.clikklebeta {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    color: #3b3b3b;
    margin-left: -14px;
    font-weight: 400;
}